# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native (Android/iOS)
android/
ios/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-cache/
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# macOS
.DS_Store

# local env files
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo

# Temporary
*.orig.*
*.pem

# Example apps
app-example/
